/* styles.css */

body {
    font-family: Arial, sans-serif;
 
    margin: 0;
    padding: 0;
}

.financial-goals {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 22%;
    flex: 1;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    font-size: 1em;
    color: #666;
}
