* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #001F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    max-width: 320px;
    margin: 0 auto;
    text-align: left;
}

.form-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-content p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #777;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    display: flex;
    align-items: center;
}

.options a {
    font-size: 12px;
    color: #FF5733;
}

.sign-in-btn {
    width: 100%;
    padding: 15px;
    background-color: #FF5733;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

.google-signin-btn {
    width: 100%;
    padding: 15px;
    background-color: white;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-signin-btn:hover, 
.sign-in-btn:hover {
    opacity: 0.9;
}

.signup-text {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.signup-text a {
    color: #FF5733;
    text-decoration: none;
}

.back-button {
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
}

.illustration-container {
    flex: 1;
    background: url('/images/create.png') no-repeat center center;
    background-size: cover;
}